# ======================================================
# Jupyter Notebook
# ======================================================

.ipynb_checkpoints/

# ======================================================
# Python
# ======================================================

__pycache__/
*.py[cod]
*$py.class

# ======================================================
# Virtual Environments
# ======================================================

.venv/
venv/
env/

# ======================================================
# Build Files (C++ / CMake)
# ======================================================

build/
cmake-build-*/

# ======================================================
# IDE Settings
# ======================================================

.vscode/
.idea/

# ======================================================
# Operating System Files
# ======================================================

.DS_Store
Thumbs.db

# ======================================================
# Log Files
# ======================================================

*.log

# ======================================================
# Temporary Files
# ======================================================

*.tmp
*.temp

#=======================
# Test Files
#=======================
test_date